[Unit]
Description=Socket bind to forge-pvp

[Socket]
ListenFIFO=/run/forge-pvp.stdin
SocketMode=0660
SocketUser=minecraft
SocketGroup=minecraft
RemoveOnStop=true
FlushPending=true

[Install]
WantedBy=
